@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Urbanist", serif;
}

/* scrollbar */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


/* Blur effect for the body content */
.PageWrapper {
    transition: filter 0.3s ease;
}

.PageWrapper.blur {
    filter: blur(5px);
    pointer-events: none; /* Optional to prevent interaction with blurred content */
}

/* Fullscreen overlay for the popup */
.PopupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup styles */
.AddTaskPopUp {
    background: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1010;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}






@layer components {
    .cont {
        @apply container mx-auto;
    }

    .title {
        @apply flex items-center text-2xl font-semibold text-[#7B1984] mb-3;
    }

    .texts {
        @apply text-sm lg:text-[18px] font-medium text-center lg:text-start leading-relaxed;
    }
    .table_text{
        @apply text-[16px] font-medium text-[#1a1a1a];
    }

    hr {
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.274);
    }

    /* Signin page */
    .SignInPage {
        @apply bg-pastel h-screen relative overflow-hidden;
    }

    .mbl-bg {
        @apply absolute top-0 left-0 w-full h-full lg:hidden;
    }

    .sign-left {
        @apply w-full lg:w-2/3 flex flex-col justify-center lg:items-start items-center h-[80vh] p-5 lg:p-20;;
    }

    .mockup, .pattern {
        @apply absolute top-[5%] right-0 h-[90%] hidden lg:block;
    }

    .pattern {
        @apply bottom-0 h-[100%];
    }

    .google-btn {
        @apply flex px-10 py-3 bg-[#292929] text-[white] z-30 gap-3 rounded-2xl my-3 font-medium;
    }

    /* navbar component */
    .menus {
        @apply flex gap-3;
    }

    .menus button {
        @apply flex gap-1 items-center text-[18px] text-[gray] font-medium cursor-pointer p-1 hover:border-b-2;
    }

    .menus p img {
        @apply w-2/3 h-2/3;
    }

    /* logOut component css */
    .logout {
        @apply w-1/2 flex flex-col items-end;
    }

    .user {
        @apply rounded-full w-[40px] h-[40px];
    }

    .logout_btn {
        @apply flex items-center gap-2 bg-pastel border-purple px-3 py-2 rounded-lg border-2;
    }

    .logout .texts {
        @apply hidden lg:block;
    }

    /* filter component */
    .FilterComponent {
        @apply w-full lg:w-1/2 flex gap-2 items-center md:justify-start lg:justify-start justify-center;
    }

    .filter_btn {
        @apply rounded-full border-2 border-pastel px-3 py-1;
    }


    /* search component */
    .SearchComponent {
        @apply w-full lg:w-1/2 flex gap-4 items-center md:gap-2 md:justify-end justify-center lg:justify-end;
    }

    .Add_btn {
        @apply rounded-full bg-voilet text-[#ffffff] py-2 px-3 font-medium;
    }

    .searchInput {
        @apply rounded-full h-10 border-purple focus:border-purple focus:outline-none p-1 active:border-purple border-2 w-60;
    }


    /* accordion component */
    .Accordion {
        @apply rounded-md shadow-md overflow-hidden;
    }

    .Accordion .btn {
        @apply w-full flex justify-between items-center p-3 rounded-t-md focus:outline-none;
    }

    .accor_title {
        @apply text-xl font-bold m-0;
    }

    .single_accor {
        @apply py-3 lg:px-5 flex border-t-2 border-[#7070702f] first-of-type:border-none text-lg font-medium items-center justify-between;
    }


    /* gridComponent css */
    .Grid_title{
        @apply font-semibold py-1 px-3 text-[20px] rounded-md mb-5;
    }
    .Grid_text{
        @apply font-semibold text-[18px];
    }
    .Grid_small{
        @apply w-[50%] text-[12px] ;
    }


    /* SelectPopup Component */
    .selectpop{
        @apply absolute bottom-0 shadow-purple shadow flex flex-col items-start bg-pastel p-2 rounded-md z-10;

    }
    .selectpop button{
       @apply flex items-center gap-2 font-medium text-[16px] cursor-pointer;
    }


    /* AddNewTask Component */
    .TaskInput{
        @apply bg-gray focus:outline-none;
    }
    .plus{
        @apply border-[#000000] px-3 py-2 rounded-full text-voilet border-2 text-lg font-semibold;
    }
    .cancel{
        @apply rounded-full py-2 px-3 font-medium border-[1px];
    }
}




@media only screen and (min-width: 321px) and (max-width: 768px) {

    .logout_btn,
    .menus,
    hr {
        display: none;
    }
}

@media only screen and (min-width: 321px) and (max-width: 650px) {

    .mbl_lay_hidden{
        display: none;
    }
}